{% extends "base.html" %}
{% load static i18n %}

{% block title %}
Cookies {{ block.super }}
{% endblock title %}

{% block content %}
<section class="w-screen h-40 flex items-center justify-center" style="background-image:url({% static 'vendors/images/default-banner.jpg' %}); background-size:cover">
  <div class="w-full h-full bg-primary/40 flex items-center justify-between px-3 md:px-24 text-white">
    <h1 class="text-2xl font-bold text-white">Cookies</h1>
    <a href="{% url 'contact' %}" class="block flex-col space-y-1 text-center">
      <p>{% trans "For more enquiry" %}</p>
      <button class="bg-primary py-2 px-4 text-white hover:scale-1-5 duration-300">{% trans "Enquire" %}</button>
    </a>
  </div>
</section>
<section class="w-screen py-3 flex px-3 items-center md:justify-center overflow-auto divide-x-2 space-x-2">
  <a href="{% url 'privacy' %}" class="block hover:font-black text-sm duration-300 font-semibold">{% trans "Privacy Policy" %}</a>
  <a href="{% url 'terms' %}" class="pl-2 block hover:font-black font-semibold text-sm duration-300">{% trans "Terms of Business" %}</a>
  <a href="{% url 'cookies' %}" class="pl-2 block hover:font-black font-black text-primary text-sm duration-300">{% trans "Cookies Policy" %}</a>
</section>

<section class="w-screen px-3 md:px-24 py-6 prose-xs prose-headings:text-base prose-p:font-normal">
  {{cookies.content|safe}}
</section>
{% endblock content %}
